STORAGE_DIR = 'storage'
CAPTURES_DIR = 'captures'
RECORDS_DIR = 'records'
LOGS_DIR = 'logs'

CAMERA_DEVICE = '/dev/video0'

DETECTION_TIMEOUT = 5 # s
TELEGRAM_BOT_TOKEN = '111111111:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA'
